* {
	box-sizing: border-box;
}

.container {
	font-family: 'Roboto', sans-serif;
	width: 500px;
	margin: auto;
	color: blue;
	text-align: center;
	height: 700px;height: 
	background color: beige;
	border: 2px solid black;
}



header {
	height: 15%;
	border-bottom: solid black 2px;
	
	font-size: 20px;
}

main {
	margin-top: 50px;
	height: 70%;

}

.start {
	margin-top: 50px;
	size: 200px;

}

form {
	text-align: left;
}

.current-question {
	text-align: center;
}
footer {
	
	}

.running{
	margin-top: 30px;
	
}